accelerate==1.13.0
ag-ui-protocol==0.1.15
aiofile==3.9.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.92.0
anyio==4.13.0
argcomplete==3.6.3
asttokens==3.0.1
attrs==26.1.0
Authlib==1.6.9
beartype==0.22.9
bitsandbytes==0.49.2
blinker==1.9.0
boto3==1.42.85
botocore==1.42.85
CacheControl==0.14.4
cachetools==7.0.5
caio==0.9.25
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cohere==5.21.1
colorama==0.4.6
comm==0.2.3
cryptography==46.0.7
cyclopts==4.10.1
debugpy==1.8.20
decorator==5.2.1
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
email-validator==2.3.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.135.3
fastavro==1.12.1
fastmcp==3.2.0
filelock==3.25.2
firebase_admin==7.4.0
frozenlist==1.8.0
fsspec==2026.3.0
genai-prices==0.0.56
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.3
google-auth==2.49.1
google-cloud-core==2.5.1
google-cloud-firestore==2.26.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-genai==1.71.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
griffelib==2.0.2
groq==1.1.2
grpcio==1.80.0
grpcio-status==1.80.0
h11==0.16.0
h2==4.3.0
hf-xet==1.4.3
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.9.2
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
jsonpath-python==1.1.5
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
keyring==25.7.0
logfire==4.31.0
logfire-api==4.31.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mcp==1.27.0
mdurl==0.1.2
mistralai==2.3.1
more-itertools==11.0.1
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.1
narwhals==2.19.0
nest-asyncio==1.6.0
networkx==3.6.1
nexus-rpc==1.4.0
numpy==2.4.4
openai==2.30.0
openapi-pydantic==0.5.1
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-instrumentation==0.60b1
opentelemetry-instrumentation-httpx==0.60b1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
opentelemetry-util-http==0.60b1
packaging==25.0
pandas==3.0.2
parso==0.8.6
pathable==0.5.0
pillow==12.2.0
platformdirs==4.9.4
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
psutil==7.2.2
pure_eval==0.2.3
py-key-value-aio==0.4.4
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-ai==1.78.0
pydantic-ai-slim==1.78.0
pydantic-evals==1.78.0
pydantic-graph==1.78.0
pydantic-handlebars==0.1.0
pydantic-settings==2.13.1
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.20.0
PyJWT==2.12.1
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.24
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2026.4.4
requests==2.33.1
rich==14.3.3
rich-rst==1.3.2
rpds-py==0.30.0
s3transfer==0.16.0
safetensors==0.7.0
sentencepiece==0.2.1
setuptools==81.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.3
sniffio==1.3.1
sse-starlette==3.3.4
stack-data==0.6.3
starlette==1.0.0
streamlit==1.56.0
sympy==1.14.0
temporalio==1.25.0
tenacity==9.1.4
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
torch==2.11.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
transformers==5.5.4
typer==0.24.1
types-protobuf==6.32.1.20260221
types-requests==2.33.0.20260408
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
uncalled-for==0.3.1
urllib3==2.6.3
uvicorn==0.44.0
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
wrapt==1.17.3
xai-sdk==1.11.0
yarl==1.23.0
zipp==3.23.0
